    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" >
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.js"></script>
    </head>
    <body>

    <div id="mytimeline"></div>
<script>
  var container = document.getElementById('mytimeline');
  var items = new vis.DataSet();
  for (var i = 10; i >= 0; i--) {
    items.add({
        id: i,
        content: "<b>ass</b> " + i,
        start: new Date(new Date().getTime() + i*100000)
    });
  }

  // Configuration for the Timeline
  // specify options
  var options = {
    start: new Date(),
    end: new Date(new Date().getTime() + 1000000),
  };

  // create a Timeline
  timeline = new vis.Timeline(container, items, null, options);
  var date = new Date();
  timeline.setCurrentTime(date);
  setInterval(function () {
      date.setSeconds(date.getSeconds()+4);
      timeline.setCurrentTime(date);
  }, 100);

</script>
    </body>
